repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: check shell scripts

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        name: lint with ruff
        args: [--fix]
      - id: ruff-format
        name: format with ruff

  - repo: local
    hooks:
      - id: ty
        name: type check with ty
        entry: uv run ty check
        args: [--force-exclude]
        language: unsupported
        types: [python]
        require_serial: true

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: type check with mypy
        entry: uv run mypy
        args: [--strict]
        language: unsupported
